@model CodedMilePlanner.Models.Project
@{
    ViewData["Title"] = "Add a Project";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3">
    </div>
    <div class="card login-card col-md-6">
        <div class="card-header h2">Add a Project</div>
        <div class="card-body">
            <form asp-controller="Project" asp-action="AddProject" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">

                <div>
                    <span> <i class="fas fa-project-diagram"></i> Name</span>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name of Project" })
                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                </div>

                <br />

                <div>
                    <span> <i class="fas fa-align-left"></i> Description</span>
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "Description" })
                    @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                </div>

                <br />

                <div>
                    <span><i class="fas fa-calendar-alt"></i> Start and End Dates</span>
                    <div class="row form-group" style="margin-top:1em;margin-bottom:1em;">
                        <div class="col-sm-6">
                            @Html.EditorFor(x => x.Start_Time)
                            @Html.ValidationMessageFor(model => model.Start_Time, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6">
                            @Html.EditorFor(m => m.End_Time)
                            @Html.ValidationMessageFor(x => x.End_Time, "", new { @class = "text-danger" })
                        </div>


                    </div>
                </div>

                <br />



                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add My New Project</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
