@model CodedMilePlanner.Models.Project
@{
    ViewData["Title"] = "Milestones";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
<div>
    <h2 class="projects-header">
        @Model.Name Milestones
        <a href="../../Milestone/AddMilestone?id=@Model.ID">
            <i class="fas fa-plus-circle" aria-hidden="true"></i>
        </a>
    </h2>
    <div class="row">
        @foreach (CodedMilePlanner.Models.Milestone milestone in Model.Milestones)
        {
            <div class="col-md-6">
                <div class="card project-card">
                    <div class="card-header h2">@milestone.Name</div>
                    <div class="card-body">

                        <div>
                            <button id="@("M"+milestone.ID)" class="btn clipboardButton" onclick="copyMilestone(@milestone.ID)" data-clipboard-text="@("http://localhost:56030/Milestone/Shared?id="+milestone.ID)">
                                <i class="fas fa-share-square"></i>
                            </button>
                        </div>


                        <form asp-controller="Project" asp-action="EditProject" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">

                            <div>
                                <span> <i class="fas fa-align-left"></i> <b>Description</b></span>
                            </div>
                            <div>
                                @milestone.Description
                            </div>

                            <br />

                            <div>
                                <span><i class="fas fa-calendar-alt"></i> <b>Milestones Due Date</b></span>
                                <div class=" form-group" style="margin-top:1em;margin-bottom:1em;">
                                        @milestone.Due_Date
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-md-3">
                                    <i class="fas fa-pen"></i>
                                    <a href="../../Milestone/EditMilestone?id=@milestone.ID">Update</a>
                                </div>
                                <div class="col-md-4">
                                    <i class="fas fa-trash"></i>
                                    <a href="../../Milestone/Delete?id=@milestone.ID">Delete</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>