@model CodedMilePlanner.Models.ViewModels.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="card login-card col-md-6">
        <div class="card-header h2">Register</div>
        
        
        @*@if (Model.Result.Success == false)
        {
            <span class="alert-danger">@Model.Result.Message</span>
        }*@
        <div class="card-body">
            <form asp-controller="User" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div>
                    <span> <i class="fas fa-user"></i> Name</span>
                    <div class="row form-group" style="margin-top:1em;margin-bottom:1em;">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.First_Name, new { @class = "form-control", placeholder = "First Name" })
                            @Html.ValidationMessageFor(x => x.First_Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.Last_Name, new { @class = "form-control", placeholder = "Last Name" })
                            @Html.ValidationMessageFor(x => x.Last_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <br />

                <div>
                    <span> <i class="fas fa-envelope"></i> Email</span>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(x => x.Email)
                </div>

                <br />

                <div>
                    <span><i class="fas fa-key"></i> Password</span>
                    <div class="row form-group" style="margin-top:1em;margin-bottom:1em;">
                        <div class="col-sm-6">
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>
                        <div class="col-sm-6">
                            @Html.PasswordFor(x => x.Confirm_Password, new { @class = "form-control", placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(x => x.Confirm_Password)
                        </div>
                    </div>
                </div>

                <br />



                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>